/* responsive.css */
@media (min-width: 1024px) {
    .content-section {
        flex-direction: row;
        gap: 2rem;
    }

    .content-section.inverse {
        flex-direction: row-reverse;
    }

    .section-image,
    .section-content {
        width: 50%;
    }
    main {
        max-width: 1024px;
        margin: 0 auto;
    }

    .hero {
        height: 100dvh; /* Adjust for 1024px layout */
    }
}

@media (max-width: 1024px) {
    main {
        padding: 0;
    }

    .h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .footer-container {
        flex-direction: column; /* Apila las secciones verticalmente */
    }
    .comment-avatar img {
        width: 40px;
        height: 40px;
    }

    .comments-section {
        padding: 2em;
        background-color: var(--comment-color);
        margin: 2em 0;
        border-radius: 0;
        border-top: 5px solid transparent;
        border-image: url(/imagenes/border-footer.webp) 30 round;
    }

    .contact-form-section .btn {
        background-color: #1A237E;
        color: #fff;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        margin: 0 auto;
        width: 60%;
    }

    /* H1 */
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
/* H2 */
h2 {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    }
/* H3 */
h3 {
    font-size: 1.1rem;
    margin: 1rem 0 0 0;
}
/* H4 */
h4 {
    font-size: 1.0rem;
    margin: 1rem 0 0 0;
}
/* H5 */
h5 {
    font-size: 0.9rem;
}
/* H6 */
h6 {
    font-size: 0.8rem;
}
}