/* styles.css */
.hero {
    background-image: url(../imagenes/header-home.webp);
    background-size: cover;
    background-position: center;
    background-position-y: 10dvh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed; /* Añade el efecto parallax */
    position: relative; /* Para que el pseudo-elemento se posicione correctamente */
    align-items: center;
}

/* Estilos generales para content-section */
.content-section {
    display: flex;
    flex-direction: column; /* Por defecto, en móviles la imagen está arriba */
    gap: 2rem;
    margin-bottom: 3rem;
    padding: 0; /* Opcional: Espaciado interno para la sección */
}

/* Imagen */
.section-image img {
    width: 100%;
    height: auto;
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    background-color: var(--text-color);
    border-top: 5px solid transparent; /* Define el tamaño del borde */
    border-image: url('/imagenes/border-footer.webp') 30 round; /* Ruta de la imagen, ancho de las secciones y modo de ajuste */
}

/* Contenido */
.section {
    text-align: left;
    padding: 2em;
    margin-bottom: 2rem;
}

.section-content {
    text-align: left;
    padding: 2em;
}

.section-content h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.section-content .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.section-content .btn:hover {
    background-color: var(--text-color);
}

